doctype html
html(lang='en')
	head
		meta(charset='UTF-8')
		title Document

	body
		form(action="" class='form-block js-form')
			fiekdset
				label(for='name') Имя
				input(id='name' type='text' required)
				label(for='email') Почта 
				input(id='email' type='email' required)
				label(for='radio-y' class='col-50') М
					input(id='radio-y' type='radio' name='pol' required)
				label(for='radio-n' class='col-50') Жо
					input(id='radio-n' type='radio' name='pol')
				fieldset(type='check-1 check-2' data-required='false')
					label(for='checkbox-1' class='check') Мdsfsdfsdfsd
						input(id='checkbox-1' type='checkbox' name='check-1')
					label(for='checkbox-2' class='check') Kadasdfasfdfs
						input(id='checkbox-2' type='checkbox' name='check-2')
			a(href='#' class='submit js-submit') Отправить
			span.js-error

